@import "../../../../../styles/variables";

.room-title {
    padding: 1em 1em 1em 2em;
    border-bottom: 2px solid $grey;
}

.fa-ul {
    float: left;
    text-align: end;
    color: $grey;
  }

  ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .icon{
    text-align: end;
    page-break-after: auto;
    i{
      padding-left: 25px;
    }
  }