<!-- <div class="h-100 d-flex flex-column chatroom-list">
  <ng-container *ngFor="let chatRoom of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
    <div class="chatroom-list-item">
      Chat Room #{{chatRoom}}
    </div>
  </ng-container>
</div> -->
<br/>
<br/>
<br/>
<br/>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search a Boo">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/Profile_03.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <a><h5>Shanur Nahid <span class="chat_date">Jan 27</span></h5></a>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/ali.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Ali Hosen <span class="chat_date">Dec 25</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/mamun.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Abdullah-Al-Mamun <span class="chat_date">Feb 01</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/sharmin.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Sharmin Zahan<span class="chat_date">Dec 25</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Nazrul Islam <span class="chat_date">Dec 25</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/nusrat.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Nusrath Jahan <span class="chat_date">Jan 27</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/rony.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Md. Roni Hossain <span class="chat_date">Dec 25</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"> <img src="assets/komol.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Komol Mridha <span class="chat_date">Jun 15</span></h5>
    </div>
  </div>
</div>
<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img "> <img src="assets/ali.jpg" alt="sunil"> </div>
    <div class="chat_ib">
      <h5>Tipu Sultan<span class="chat_date">May 05</span></h5>
    </div>
  </div>
</div>